._list-item {
  list-style: none;
  cursor: pointer;

  .content-wrapper {
    display: flex;
    align-items: center;
    
    .content {
      display: flex;
      align-items: center;
      padding: 1rem;
  
      .trailing {
        margin-left: 0.75rem;
      }
      
      .leading {
        margin-right: 0.75rem;
      }
    }
  }

  
}