._table {
  border-collapse: collapse;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;

  .row-container {
    min-width: 100%;
    max-width: max-content;
  }
  overflow-x: scroll;
  &::-webkit-scrollbar {
    height: 10px;
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 50px;
    opacity: 0.4;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
}
