._form {
  backroud-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;

    .title {
      margin-bottom: 4px;
    }
    .sub-title {
    }
  }

  .form-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 39px;

    > input {
      margin-bottom: 45px;
    }
  }

  .form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    > a {
      margin-top: 39px;
    }
  }
}