._page-header {
  z-index: 800;
  &__contents {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 1rem 1.25rem;
  }

  &__logo {

  }

  &__left--items {

  }

  &__spacer {
    flex: 1;
  }

  &__right--items {

  }
}
